::selection{
    color: rgb(255, 139, 139);
}
*{
    margin: 0 0;
    font-family: '나눔고딕';
    background-clip:content-box;
    box-sizing: content-box;
    overflow: hidden;
 }
body{
    background-color: black;
}

.main_slogan{
    position: absolute;
    display: block;
    height: 55px;
    font-size: 36px;
    font-weight: 600;
    color: white;
    left:50%;top:50%;
    transform: translate(-50%,-125px);
}
.sub_slogan{
    position: absolute;
    display: block;
    font-size: 16px;
    font-weight: 100;
    color: white;
    height: 20px;
    left:50%;
    top:50%;
    transform: translate(-50%,-65px);
}