
.blur{
    margin: 0px;
    margin: 0;
    display: block;
    background-color: black;
    opacity: 0.5;
    z-index: 0;
    height: 100vh;
}
.UnderHash{
    z-index: 1;
    font-family: '나눔고딕';
    justify-content:center;
    transform: translate(-50%,90vh);
    width: 100vw;
    left: 50%;
    display: flex;
    position: absolute;
}
.UnderHash *{
    z-index: 1;
    cursor: pointer;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: black;
    text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;
}

.Gallery *, .dummy_Gallery *, .assemble_Gallery *{
    overflow: hidden;
    display: flex;
    position: absolute;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.assemble_Gallery *{
    overflow: hidden;
    display: flex;
    position: absolute;
    background-position: center;
    background-size: cover;
    z-index: -2;
}