<!DOCTYPE html>
<html lang="ko">
<head>
    <script type="module", src="/js/under_select.js"></script>
    <script type="module", src="/js/move_gallery.js"></script>
    <script type="module", src="/js/search_modal.js"></script>
    <script type="module", src="/js/assemble_Gallery.js"></script>
    <script type="module", src="/js/click_search_list.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/main_page.css">
    <link rel="stylesheet" href="/css/search_box.css">
    <link rel="stylesheet" href="/css/under_select.css">
    <link rel="stylesheet" href="/css/assemble_button.css">
    <title>gallerest</title>
</head>
<body>
    <div class="UnderHash">
       <span id="rank1">#이브이</span>
       <span id="rank2">#피카츄</span>
       <span id="rank3">#지우은퇴</span>
       <span id="rank4">#도라에몽</span> 
    </div>
    <div id="blur"></div>
    <div class="Gallery">
        <div id="pic1"></div>
        <div id="pic2"></div>
        <div id="pic3"></div>
        <div id="pic4"></div>
        <div id="pic5"></div>
        <div id="pic6"></div>
    </div>
    <div class="dummy_Gallery">
        <div id="dum1"></div>
        <div id="dum2"></div>
        <div id="dum3"></div>
        <div id="dum4"></div>
        <div id="dum5"></div>
        <div id="dum6"></div>
    </div>
    <div class="assemble_Gallery">
        <div id="a_gal1"></div>
        <div id="a_gal2"></div>
        <div id="a_gal3"></div>
        <div id="a_gal4"></div>
        <div id="a_gal5"></div>
        <div id="a_gal6"></div>
        <div id="a_gal7"></div>
        <div id="a_gal8"></div>
    </div>
    <div id="slogans">
        <div class="main_slogan">선명하게 만나는 4K 이미지
        </div>
        <div class="sub_slogan">찾고 있는 고화질 이미지를 제공해드립니다.
        </div>
    </div>
    <div id="search_bar">
        <input placeholder="찾고 있는 고화질 이미지를 검색하세요." autocomplete="off">
        <div id="search_icon"></div>
        <div id="under_line"></div>
        <ul id="search_li">
            <li id="keyword1"><div class="keytext">피카츄</div></li>
            <li id="keyword2"><div class="keytext">라이츄</div></li>
            <li id="keyword3"><div class="keytext">파이리</div></li>
            <li id="keyword4"><div class="keytext">꼬부기</div></li>
            <li id="keyword5"><div class="keytext">버터풀</div></li>
            <li id="keyword6"><div class="keytext">야도란</div></li>
            <li id="keyword7"><div class="keytext">피죤투</div></li>
            <li id="keyword8"><div class="keytext">또가스</div></li>
            <li id="keyword9"><div class="keytext">산에서</div></li>
            <li id="keyword10"><div class="keytext">길에서</div></li>
        </ul>
    </div>
    <div id="assemble_button">
        <div></div>
        <div></div>
    </div>
</body>
</html>