<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/search_page.css">
    <title>gallerest_search</title>
</head>
<body>
    <header>
        <a id="logo" href="/"></a>
        <span id="search_bar">
            <input placeholder="찾고 있는 고화질 이미지를 검색하세요." autocomplete="off">
            <span id="search_icon"></span>
        </span>
        <span id="icon_menu">
            <span id="scrap"></span>
            <span id="profile"></span>
        </span>
    </header>
    <div id="search_thing"><span id="search_keyword"></span>의 검색 결과입니다.</div>
    <div id="img_board">
        <span class="img_lane"></span>
        <span class="img_lane"></span>
        <span class="img_lane"></span>
        <span class="img_lane"></span>
    </div>
</body>
</html>

<script type="text/javascript", src="/js/click_search_list.js"></script>
<script type="text/javascript", src="/js/LoadingImages.js"></script>
