<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/search_page.css">
    <script type="text/javascript", src="/js/click_search_list.js"></script>
    <title>gallerest_search</title>
</head>
<body>
    <header>
        <a id="logo" href="/"></a>
        <span id="search_bar">
            <input placeholder="찾고 있는 고화질 이미지를 검색하세요." autocomplete="off">
            <span id="search_icon"></span>
        </span>
        <span id="icon_menu">
            <span id="scrap"></span>
            <span id="profile"></span>
        </span>
    </header>
    <div id="search_thing">의 검색 결과입니다.</div>
    <div id="img_board">
        <span class="img_lane"></span>
        <span class="img_lane"></span>
        <span class="img_lane"></span>
    </div>
    <div id="loading_bar"><img src="https://mblogthumb-phinf.pstatic.net/MjAxODEwMjNfNjAg/MDAxNTQwMjg2OTk2NTcw.mfWKPtzKVO1mJaBBIFKIkVBlMQQIF1Vc-yrlbbGaoP0g.KNJWAgMmhsfQrZI3n0UT-LMi_qpHAZls4qPMvbNaJBcg.GIF.chingguhl/Spinner-1s-200px.gif?type=w800"/><br>loading...</div>
    
</body>
</html>
